@model BlogWeb.Models.ArticleModel

@{
	ViewData["Title"] = "Details";
}

<section class="row">

	<div class="col col-8">
		<div class="px-3">
			<img src="~/img/@Model.FeaturedImg" alt="@Model.FeaturedImg" class="img-fluid rounded" style="max-height: 400px; object-fit: cover; width: 100%;" />
		</div>
		<div class="">
			<h2 class="mt-3">@Model.Title</h2>
			<div class="text-muted">👨 @Model.Author - @Model.TimeRead min read - @Model.PublishDate.ToShortDateString()</div>
			<p class="mt-3 fs-6">@Model.Description</p>
		</div>
	</div>

</section>
