@model IEnumerable<BlogWeb.Models.ArticleModel>
@{
	ViewData["Title"] = "Home Page";

	string Bulan(int bulan)
	{
		string[] namaBulan = { "Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember" };
		return namaBulan[bulan - 1];
	};

}

<section style="max-width: 800px">

	<div class="px-3">
		@foreach (var data in Model)
		{
			<div class="card py-3 mb-4 border-0 border-top border-bottom ">
				<div class="d-flex align-items-center">
					<div class="pe-5">
						<div class="text-muted">@data.Author - @data.PublishDate.Day @Bulan(data.PublishDate.Month) @data.PublishDate.Year</div>
						<a asp-action="Details" asp-controller="Article" asp-route-id="@data.Id" class="text-dark">
							<h5 class="mt-1">@data.Title</h5>
						</a>
						<p>@data.Excerpt</p>
					</div>
					<div class="rounded-3 overflow-hidden" style="width: 600px; height: 130px;">
						<img src="~/img/@data.FeaturedImg" class="img-fluid" style="height: 100%; object-fit: cover" />
					</div>
				</div>
				<div>
					<span class="bg-light px-4 py-2 rounded-pill border border-2 text-muted" style="font-size: 0.8rem">@data.Category</span>
				</div>
			</div>
		}
	</div>

</section>

@Html.ActionLink("Default", "HomeSide");